<div id="dialog-rincian-pendaratan">
  <div #scrollMe *ngIf="currentPendaratanState.formRincianPendaratan$ |async"
       [formGroup]="currentPendaratanState.formRincianPendaratan$ |async"
       class="form-rincian-pendaratan">
    <mat-toolbar *ngIf="!(rootState.asSmallSize$ | async) ? (toolbarWidth === toolbarWidthOnBig) : true"
                 color="primary" class="dialog-toolbar"
                 [ngStyle]="{ width : (rootState.asSmallSize$ | async) ? toolbarWidthOnSmall : toolbarWidth}">
      <mat-icon class="icon-of-dialog">double_arrow</mat-icon>
      <!-- title -->
      <h5
        [ngClass]="isFormControlEmpty('namaKapal', currentPendaratanState.formRincianPendaratan$ | async) ? 'conditional-accent title-of-dialog' : 'title-of-dialog'">
        {{extractFormControlValue('namaKapal', currentPendaratanState.formRincianPendaratan$ | async, defaultNamaKapal)}}
      </h5>

      <!--invisible fake button-->
      <button #fake mat-flat-button style="display: none"></button>
      <!--spacer-->
      <span class="spacer"></span>

      <button mat-icon-button (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>

    <!--  <div class="form-content-wrapper ">-->
    <div @fade *ngIf="(!(rootState.asSmallSize$ | async) ? (toolbarWidth === toolbarWidthOnBig) : true); else loading"
         class="row form-content-wrapper">

      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Informasi Pendaratan Kapal</mat-card-title>
            <mat-card-subtitle>Informasi mengenai pendaratan kapal yang disampling</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">

              <!--Nama Kapal-->
              <div class="col-md-6">
                <i-text-input #targetNamaKapal="iText"
                              label="Nama Kapal"
                              placeholder="Nama Kapal"
                              formControlName="namaKapal"
                              [nextTo]="targetAlatTangkap">
                </i-text-input>
              </div>

              <!--Alat Tangkap-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetAlatTangkap="iAutocomplete"
                  appearance="outline"
                  placeholder="Alat Tangkap"
                  formGroupName="uuidAlatTangkap"
                  displayProp="namaAlatTangkap"
                  mode="initially"
                  filterOnProp="namaAlatTangkap"
                  [nextTo]="targetPenampung"
                  [previousTo]="targetNamaKapal"
                  [targetOptions]="organisasiService.getAlatTangkap">
                </i-autocomplete>
              </div>

              <!--Penampung & penangkap-->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-6 slide-toggle-section">
                  <i-toggle #targetPenampung formControlName="penampung"
                            [nextTo]="targetPenangkap"
                            [previousTo]="targetAlatTangkap"
                            label="Penampung"></i-toggle>
                </div>
                <div class="col-md-6 slide-toggle-section">
                  <i-toggle #targetPenangkap formControlName="penangkap"
                            [nextTo]="targetJumlahKapalPenangkap"
                            [previousTo]="targetPenampung"
                            label="Penangkap"></i-toggle>
                </div>
              </div>

              <!--Jumlah Kapal penangkap-->
              <div class="col-md-6">
                <i-text-input #targetJumlahKapalPenangkap="iText"
                              formControlName="jumlahKapalPenangkap"
                              [useTextMask]="standardInputMask('', ' Buah')"
                              placeholder="Jumlah Kapal Penangkap (buah)"
                              [nextTo]="targetJumlahSetting"
                              [previousTo]="targetPenangkap"
                              label="Jumlah Kapal Penangkap (buah)">
                </i-text-input>
              </div>

              <!--Jumlah Setting-->
              <div class="col-md-6">
                <i-text-input #targetJumlahSetting="iText"
                              label="Jumlah Setting"
                              placeholder="Jumlah Setting"
                              formControlName="jumlahSetting"
                              [useTextMask]="standardInputMask()"
                              [nextTo]="targetJumlahMataPancing"
                              [previousTo]="targetJumlahKapalPenangkap">
                </i-text-input>
              </div>

              <!--Jumlah mata pancing-->
              <div class="col-md-6">
                <i-text-input #targetJumlahMataPancing="iText"
                              label="Jumlah Mata Pancing"
                              placeholder="Jumlah Mata Pancing"
                              formControlName="jumlahMataPancing"
                              [useTextMask]="standardInputMask()"
                              [nextTo]="targetRumpon"
                              [previousTo]="targetJumlahSetting">
                </i-text-input>
              </div>

              <!-- Rumpon & Cahaya -->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-6 slide-toggle-section">
                  <i-toggle #targetRumpon formControlName="rumpon"
                            [nextTo]="targetCahaya"
                            [previousTo]="targetJumlahMataPancing"
                            label="Rumpon"></i-toggle>
                </div>
                <div class="col-md-6 slide-toggle-section">
                  <i-toggle #targetCahaya formControlName="cahaya"
                            [nextTo]="targetGridDaerahPenangkapan"
                            [previousTo]="targetRumpon"
                            label="Cahaya"></i-toggle>
                </div>
              </div>

              <!--Grid daerah Penangkapan-->
              <div class="col-md-6">
                <i-text-input #targetGridDaerahPenangkapan="iText"
                              label="Grid D. Penangkapan"
                              placeholder="Grid D. Penangkapan"
                              formControlName="jumlahHariMenangkap"
                              [nextTo]="targetJumlahHariPerTrip"
                              [previousTo]="targetCahaya">
                </i-text-input>
              </div>

              <!--Jumlah hari per trip-->
              <div class="col-md-6">
                <i-text-input #targetJumlahHariPerTrip="iText"
                              label="Jumlah Hari/Trip (hari)"
                              placeholder="Jumlah Hari/Trip (hari)"
                              formControlName="jumlahHariPerTrip"
                              [useTextMask]="standardInputMask('', ' Hari')"
                              [nextTo]="targetJumlahHariMenangkap"
                              [previousTo]="targetGridDaerahPenangkapan">
                </i-text-input>
              </div>

              <!--Jumlah Hari menangkap-->
              <div class="col-md-6">
                <i-text-input #targetJumlahHariMenangkap="iText"
                              label="Jumlah Hari Menangkap (hari)"
                              placeholder="Jumlah Hari Menangkap (hari)"
                              formControlName="jumlahHariMenangkap"
                              [useTextMask]="standardInputMask('', ' Hari')"
                              [nextTo]="targetTotalTangkapanVolume"
                              [previousTo]="targetJumlahHariPerTrip">
                </i-text-input>
              </div>

              <!-- Total Tangkapan-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Total Hasil Tangkapan</legend>
                  <div class="row">
                    <!--Total Tangkapan Volume-->
                    <div class="col-md-6">
                      <i-text-input #targetTotalTangkapanVolume="iText"
                                    label="Volume (kg)"
                                    placeholder="Volume (kg)"
                                    formControlName="totalTangkapanVolume"
                                    [useTextMask]="standardInputMask('', ' Kg')"
                                    [nextTo]="targetTotalTangkapanIndividu"
                                    [previousTo]="targetJumlahHariMenangkap">
                      </i-text-input>
                    </div>

                    <!--Total Tangkapan Individu-->
                    <div class="col-md-6">
                      <i-text-input #targetTotalTangkapanIndividu="iText"
                                    label="Individu (ekor)"
                                    placeholder="Individu (ekor)"
                                    formControlName="totalTangkapanIndividu"
                                    [useTextMask]="standardInputMask('', ' Ekor')"
                                    [previousTo]="targetTotalTangkapanVolume">
                      </i-text-input>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
      </div>


      <!--Detail Hasil Tangkapan-->
      <div class="col-md-12 " style="vertical-align: bottom">
        <strong *ngIf="listOfHasilTangkapan('dataRincianTangkapanPendaratan').length === 0; else hasHasilTangkapan"
                class="warn">Belum Ada Hasil Tangkapan</strong>
        <ng-template class=" title-list-hasil-tangkapan" #hasHasilTangkapan>
          <strong>Daftar Hasil Tangkapan
            <strong class="primary">({{listOfHasilTangkapan('dataRincianTangkapanPendaratan').length}}
              )</strong></strong>
        </ng-template>

        <button class="floating-to-right" #tombolTambahHasilTangkapan
                (click)="addHasilTangkapan('dataRincianTangkapanPendaratan')"
                mat-raised-button color="primary">
          <mat-icon class="icon-inside-button">add</mat-icon>&nbsp;&nbsp;Tambah Hasil Tangkapan
        </button>

      </div>
      <div class="col-md-12" formArrayName="dataRincianTangkapanPendaratan">
        <div *ngIf="listOfHasilTangkapan('dataRincianTangkapanPendaratan').length > 0"
             class="col-md-12 hasil-tangkapan-wrapper no-padding">
          <mat-vertical-stepper role="tablist">
            <ng-template matStepperIcon="edit" let-index="index">
              {{index + 1}}
            </ng-template>
            <ng-template matStepperIcon="number" let-index="index">
              {{index + 1}}
            </ng-template>
            <div
              *ngFor="let hasilTangkapan of listOfHasilTangkapan('dataRincianTangkapanPendaratan'); index as indexHasilTangkapan">
              <mat-step>
                <ng-template class="full-width-table" matStepLabel>
                  <div class="full-width-table" style="display: flex" [formGroupName]="indexHasilTangkapan">
                    <table class="full-width-table table-of-hasil-tangkapan ">
                      <tr>
                        <td class="hasil-tangkapan-spesies">
                          <i-autocomplete
                            [autoId]="prefixElementHasilTangkapan[0] + indexHasilTangkapan"
                            appearance="outline"
                            placeholder="Spesies"
                            formGroupName="uuidSpesies"
                            displayProp="namaNasional"
                            mode="initially"
                            filterOnProp="namaNasional"
                            [nextTo]="invokeElementById(prefixElementHasilTangkapan[0], prefixElementHasilTangkapan[1], indexHasilTangkapan)"
                            [previousTo]="invokeElementById(prefixElementHasilTangkapan[0], prefixElementHasilTangkapan[2], indexHasilTangkapan)"
                            [targetOptions]="spesiesService.getSpesies">
                          </i-autocomplete>
<!--                          <mat-form-field appearance="outline">-->
<!--                            <mat-label>Nama Spesies</mat-label>-->

<!--                            <input autocomplete="off" id="{{prefixElementHasilTangkapan[0] + indexHasilTangkapan}}"-->
<!--                                   formControlName="uuidSpesies"-->
<!--                                   appMatInputNext-->
<!--                                   [nextTarget]="invokeElementById(prefixElementHasilTangkapan[0], prefixElementHasilTangkapan[1], indexHasilTangkapan)"-->
<!--                                   [previousTarget]="invokeElementById(prefixElementHasilTangkapan[0], prefixElementHasilTangkapan[2], indexHasilTangkapan)"-->
<!--                                   matInput placeholder="Nama Spesies">-->
<!--                          </mat-form-field>-->
                        </td>
                        <td class="hasil-tangkapan-volume">
                          <mat-form-field appearance="outline">
                            <mat-label>Tangkapan Volume</mat-label>
                            <input autocomplete="off" id="{{prefixElementHasilTangkapan[1] + indexHasilTangkapan}}"
                                   [textMask]="standardInputMask('', ' Kg')"
                                   formControlName="tangkapanVolume"
                                   appMatInputNext
                                   [nextTarget]="invokeElementById(prefixElementHasilTangkapan[1], prefixElementHasilTangkapan[2], indexHasilTangkapan)"
                                   [previousTarget]="invokeElementById(prefixElementHasilTangkapan[1], prefixElementHasilTangkapan[0], indexHasilTangkapan)"
                                   matInput placeholder="Tangkapan Volume">
                          </mat-form-field>
                        </td>
                        <td class="hasil-tangkapan-individu">
                          <mat-form-field appearance="outline">
                            <mat-label>Tangkapan Individu</mat-label>
                            <input autocomplete="off" id="{{prefixElementHasilTangkapan[2] + indexHasilTangkapan}}"
                                   [textMask]="standardInputMask('', ' Ekor')"
                                   formControlName="tangkapanIndividu"
                                   appMatInputNext
                                   [nextTarget]="invokeElementById(prefixElementHasilTangkapan[2], prefixElementHasilTangkapan[0], indexHasilTangkapan)"
                                   [previousTarget]="invokeElementById(prefixElementHasilTangkapan[2], prefixElementHasilTangkapan[1], indexHasilTangkapan)"
                                   matInput placeholder="Tangkapan Individu">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </div>
                </ng-template>
              </mat-step>
            </div>

          </mat-vertical-stepper>
        </div>
      </div>


      <br><br><br><br><br><br>


    </div>
    <ng-template #loading>
      <app-initializing message="Menginisialisasi Rincian Pendaratan"></app-initializing>
    </ng-template>

    <!--  </div>-->
  </div>
</div>
