<div  id="dialog-rincian-pendaratan">
  <div  #scrollMe *ngIf="currentPendaratanState.formRincianPendaratan$ |async"
       [formGroup]="currentPendaratanState.formRincianPendaratan$ |async"

       class="form-rincian-pendaratan">
    <mat-toolbar color="primary"
                 class="dialog-toolbar"
                 [ngStyle]="{ width : (rootState.asSmallSize$ | async) ? '100%' : '80%'}">
      <mat-icon class="icon-of-dialog">double_arrow</mat-icon>
      <!-- title -->
      <h5 [ngClass]="isFormControlEmpty('namaKapal', currentPendaratanState.formRincianPendaratan$ | async) ? 'conditional-accent title-of-dialog' : 'title-of-dialog'" >
        {{extractFormControlValue('namaKapal', currentPendaratanState.formRincianPendaratan$ | async, defaultNamaKapal)}}
      </h5>

      <!--invisible fake button-->
      <button #fake mat-flat-button></button>
      <!--spacer-->
      <span class="spacer"></span>

      <button mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>

    <!--  <div class="form-content-wrapper ">-->
    <div class="row form-content-wrapper">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nama Kapal</mat-label>
          <input #targetNamaKapal="matInput" autocomplete="off"
                 formControlName="namaKapal"
                 appMatInputNext [nextTarget]="targetAlatTangkap"
                 matInput placeholder="Nama Kapal">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Alat Tangkap</mat-label>
          <input [matAutocomplete]="autoAlatTangkap"
                 #targetAlatTangkap="matAutocompleteTrigger"
                 formControlName="uuidAlatTangkap"
                 autocomplete="off" matInput placeholder="Alat Tangkap"
                 appMatAutocompleteNext [nextTarget]="targetJumlahKapalPenangkap"
                 [previousTarget]="targetNamaKapal">
          <mat-autocomplete #autoAlatTangkap="matAutocomplete">
            <mat-option value="Pukat Cincin">Pukat Cincin</mat-option>
            <mat-option value="Pukat Rawai">Pukat Rawai</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-md-6 row cause-slide-toggle-section">
        <div class="col-md-6 slide-toggle-section">
          <section>
            <mat-slide-toggle color="warn" formControlName="penampung">Penampung</mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-6 slide-toggle-section">
          <section>
            <mat-slide-toggle color="warn" formControlName="penangkap">Penangkap</mat-slide-toggle>
          </section>
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Jumlah Kapal Penangkap</mat-label>
          <input #targetJumlahKapalPenangkap autocomplete="off"
                 [textMask]="standardInputMask('', ' Buah')"
                 formControlName="jumlahKapalPenangkap"
                 appMatInputNext [previousTarget]="targetAlatTangkap"
                 [nextTarget]="targetJumlahSetting"
                 matInput placeholder="Jumlah Kapal Penangkap">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Jumlah Setting</mat-label>
          <input #targetJumlahSetting autocomplete="off"
                 [textMask]="standardInputMask()"
                 formControlName="jumlahSetting"
                 appMatInputNext [nextTarget]="targetJumlahMataPancing"
                 [previousTarget]="targetJumlahKapalPenangkap"
                 matInput placeholder="Jumlah Kapal Penangkap">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Jumlah Mata Pancing</mat-label>
          <input #targetJumlahMataPancing autocomplete="off"
                 [textMask]="standardInputMask()"
                 formControlName="jumlahMataPancing"
                 appMatInputNext [nextTarget]="targetGridDaerahPenangkapan"
                 [previousTarget]="targetJumlahSetting"
                 matInput placeholder="Jumlah Mata Pancing">
        </mat-form-field>
      </div>

      <!-- Rumpon & Cahaya -->
      <div class="col-md-6 row cause-slide-toggle-section">
        <div class="col-md-6 slide-toggle-section">
          <section>
            <mat-slide-toggle color="warn" formControlName="rumpon">Rumpon</mat-slide-toggle>
          </section>
        </div>
        <div class="col-md-6 slide-toggle-section">
          <section>
            <mat-slide-toggle color="warn" formControlName="cahaya">Cahaya</mat-slide-toggle>
          </section>
        </div>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Grid D. Penangkapan</mat-label>
          <input #targetGridDaerahPenangkapan autocomplete="off"
                 formControlName="daerahPenangkapan"
                 appMatInputNext [nextTarget]="targetJumlahHariPerTrip"
                 [previousTarget]="targetJumlahMataPancing"
                 matInput placeholder="Grid D. Penangkapan">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Jumlah Hari/Trip</mat-label>
          <input #targetJumlahHariPerTrip autocomplete="off"
                 [textMask]="standardInputMask('', ' Hari')"
                 formControlName="jumlahHariPerTrip"
                 appMatInputNext [nextTarget]="targetJumlahHariMenangkap"
                 [previousTarget]="targetGridDaerahPenangkapan"
                 matInput placeholder="Jumlah Hari/Trip">
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Jumlah Hari Menangkap</mat-label>
          <input #targetJumlahHariMenangkap autocomplete="off"
                 [textMask]="standardInputMask('', ' Hari')"
                 formControlName="jumlahHariMenangkap"
                 appMatInputNext [nextTarget]="targetTotalTangkapanVolume"
                 [previousTarget]="targetJumlahHariPerTrip"
                 matInput placeholder="Jumlah Hari Menangkap">
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Total Tangkapan Volume</mat-label>
          <input #targetTotalTangkapanVolume autocomplete="off"
                 [textMask]="standardInputMask('', ' Kg')"
                 formControlName="totalTangkapanVolume"
                 appMatInputNext [nextTarget]="targetTotalTangkapanIndividu"
                 [previousTarget]="targetJumlahHariMenangkap"
                 matInput placeholder="Total Tangkapan Volume">
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Total Tangkapan Individu</mat-label>
          <input #targetTotalTangkapanIndividu autocomplete="off"
                 [textMask]="standardInputMask('', ' Ekor')"
                 formControlName="totalTangkapanIndividu"
                 appMatInputNext
                 [previousTarget]="targetTotalTangkapanVolume"
                 matInput placeholder="Total Tangkapan Individu">
        </mat-form-field>
      </div>


      <div class="col-md-12 " style="vertical-align: bottom">
        <strong *ngIf="listOfHasilTangkapan('dataRincianTangkapanPendaratan').length === 0; else hasHasilTangkapan"
               class="warn">Belum Ada Hasil Tangkapan</strong>
        <ng-template class=" title-list-hasil-tangkapan" #hasHasilTangkapan>
          <strong >Daftar Hasil Tangkapan
            <strong class="primary">({{listOfHasilTangkapan('dataRincianTangkapanPendaratan').length}})</strong></strong>
        </ng-template>

        <button class="floating-to-right" #tombolTambahHasilTangkapan
                (click)="addHasilTangkapan('dataRincianTangkapanPendaratan')"
                mat-raised-button color="primary">
          <mat-icon class="icon-inside-button">add</mat-icon>&nbsp;&nbsp;Tambah Hasil Tangkapan
        </button>

      </div>
      <div class="col-md-12" formArrayName="dataRincianTangkapanPendaratan">
        <div *ngIf="listOfHasilTangkapan('dataRincianTangkapanPendaratan').length > 0"
             class="col-md-12 hasil-tangkapan-wrapper no-padding">
          <mat-vertical-stepper  >
            <ng-template matStepperIcon="edit" let-index="index">
              {{index + 1}}
            </ng-template>
            <ng-template matStepperIcon="number" let-index="index">
              {{index + 1}}
            </ng-template>
            <mat-step *ngFor="let hasilTangkapan of listOfHasilTangkapan('dataRincianTangkapanPendaratan'); index as indexHasilTangkapan">

              <ng-template class="full-width-table" matStepLabel>
                <div class="full-width-table" style="display: flex" [formGroupName]="indexHasilTangkapan">
                  <table class="full-width-table table-of-hasil-tangkapan ">
                    <tr>
                      <td class="hasil-tangkapan-spesies">
                        <mat-form-field appearance="outline">
                          <mat-label>Nama Spesies</mat-label>
                          <input #targetSpesies autocomplete="off"
                                 formControlName="uuidSpesies"
                                 appMatInputNext [nextTarget]="targetVolume"
                                 matInput placeholder="Nama Spesies">
                        </mat-form-field>
                      </td>
                      <td class="hasil-tangkapan-volume">
                        <mat-form-field appearance="outline">
                          <mat-label>Tangkapan Volume</mat-label>
                          <input #targetVolume autocomplete="off"
                                 [textMask]="standardInputMask('', ' Kg')"
                                 formControlName="tangkapanVolume"
                                 appMatInputNext [nextTarget]="targetIndividu"
                                 [previousTarget]="targetSpesies"
                                 matInput placeholder="Tangkapan Volume">
                        </mat-form-field>
                      </td>
                      <td class="hasil-tangkapan-individu">
                        <mat-form-field appearance="outline">
                          <mat-label>Tangkapan Individu</mat-label>
                          <input #targetIndividu autocomplete="off"
                                 [textMask]="standardInputMask('', ' Ekor')"
                                 formControlName="tangkapanIndividu"
                                 appMatInputNext [nextTarget]="targetSpesies"
                                 [previousTarget]="targetVolume"
                                 matInput placeholder="Tangkapan Individu">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>


<!--              <div class="row" [formGroupName]="indexHasilTangkapan">-->
<!--                <div class="col-md-6">-->
<!--                  <mat-form-field appearance="outline">-->
<!--                    <mat-label>Nama Spesies</mat-label>-->
<!--                    <input #targetJumlahKapalPenangkap autocomplete="off"-->
<!--                           formControlName="uuidSpesies"-->
<!--                           matInput placeholder="Nama Spesies">-->
<!--                  </mat-form-field>-->
<!--                </div>-->
<!--              </div>-->
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>



      <br><br><br><br><br><br>




    </div>

    <!--  </div>-->
  </div>
</div>
