<div id="dialog-operasional">
  <div #scrollMe *ngIf="currentPendaratanState.formOperasional$ |async"
       [formGroup]="currentPendaratanState.formOperasional$ |async"
       class="form-operasional">

    <mat-toolbar *ngIf="!(rootState.asSmallSize$ | async) ? (toolbarWidth === toolbarWidthOnBig) : true"
                 color="primary" class="dialog-toolbar" @fade
                 [ngStyle]="{ width : (rootState.asSmallSize$ | async) ? toolbarWidthOnSmall : toolbarWidth}">

      <!-- icon-->
      <mat-icon class="icon-of-dialog">double_arrow</mat-icon>

      <!--title-->
      <h5>
        &nbsp;Operasional {{extractingValue((currentPendaratanState.formRincianPendaratan$ | async), 'namaKapal')}}</h5>

      <!--invisible fake button-->
      <button #fake mat-flat-button style="display: none"></button>
      <!--spacer-->
      <span class="spacer"></span>

      <button mat-icon-button (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>

    <!--Contents-->
    <div @fade *ngIf="(!(rootState.asSmallSize$ | async) ? (toolbarWidth === toolbarWidthOnBig) : true); else loading"
         class="row form-content-wrapper">


      <!--Informasi Umum-->
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Informasi Umum</mat-card-title>
            <mat-card-subtitle>Informasi utama yang diperlukan untuk Form Operasional</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <!--Organisasi-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetOrganisasi="iAutocomplete"
                  appearance="outline"
                  placeholder="Organisasi"
                  formGroupName="organisasi"
                  displayProp="namaOrganisasi"
                  mode="initially"
                  filterOnProp="namaOrganisasi"
                  [nextTo]="targetPencatat"
                  [targetOptions]="organisasiService.getAll">
                </i-autocomplete>
              </div>

              <!--Pencatatat-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetPencatat="iAutocomplete"
                  appearance="outline"
                  placeholder="Pencatat"
                  formGroupName="uuidEnumerator"
                  displayProp="nama"
                  mode="initially"
                  filterOnProp="nama"
                  [previousTo]="targetOrganisasi"
                  [nextTo]="targetSumberdaya"
                  [targetOptions]="pencatatSource">
                </i-autocomplete>
              </div>

              <!--sumberdaya-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetSumberdaya="iAutocomplete"
                  appearance="outline"
                  placeholder="Sumberdaya"
                  formGroupName="uuidSumberDaya"
                  displayProp="namaSumberdaya"
                  mode="initially"
                  filterOnProp="namaSumberdaya"
                  required="true"
                  errorMessage="Sumberdaya tidak boleh kosong"
                  [previousTo]="targetPencatat"
                  [nextTo]="targetWpp"
                  [targetOptions]="sumberdayaService.getAll">
                </i-autocomplete>
              </div>

              <!--WPP-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetWpp="iAutocomplete"
                  appearance="outline"
                  placeholder="WPP"
                  formControlName="wpp"
                  mode="initially"
                  required="true"
                  errorMessage="WPP tidak boleh kosong"
                  [previousTo]="targetSumberdaya"
                  [nextTo]="targetLokasiPendaratan"
                  [targetOptions]="wpp">
                </i-autocomplete>
              </div>

              <!-- Lokasi pendaratan -->
              <div class="col-md-6">
                <i-text-input #targetLokasiPendaratan="iText"
                              formControlName="namaLokasiPendaratan"
                              placeholder="Lokasi Pendaratan"
                              [nextTo]="targetTanggalSampling"
                              [previousTo]="targetWpp"
                              label="Lokasi Pendaratan">
                </i-text-input>
              </div>

              <!--Waktu Pendaratan-->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Waktu Pendaratan</mat-label>
                  <input #targetTanggalSampling="matDatepickerInput" matInput autocomplete="off"
                         placeholder="Waktu Pendaratan"
                         formControlName="tanggalSampling"
                         appMatDatepickerNext
                         [nextTarget]="targetJamSampling"
                         [previousTarget]="targetLokasiPendaratan"
                         (focus)="datepickerTanggalPendaratan.open()"
                         (click)="datepickerTanggalPendaratan.open()"
                         [matDatepicker]="datepickerTanggalPendaratan">
                  <mat-datepicker #datepickerTanggalPendaratan></mat-datepicker>
                </mat-form-field>
              </div>

              <!--JAM-->
              <div class="col-md-6">
                <i-text-input #targetJamSampling="iText"
                              formControlName="jamSampling"
                              label="Jam Sampling"
                              placeholder="00:00 - 23:59"
                              [useTextMask]="clockMask()"
                              [previousTo]="targetTanggalSampling"
                              [nextTo]="targetNamaKapal">
                </i-text-input>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!--Informasi Kapal-->
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Informasi Kapal</mat-card-title>
            <mat-card-subtitle>Segala informasi yang didapat dan berhubungan dengan data kapal</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">

              <!-- Kapal -->
              <div class="col-md-6">
                <i-text-input #targetNamaKapal="iText"
                              formControlName="namaKapal"
                              placeholder="Nama Kapal"
                              [nextTo]="targetTandaSelar"
                              [previousTo]="targetTanggalSampling"
                              label="Nama Kapal">
                </i-text-input>
              </div>

              <!--tanda Selar-->
              <div class="col-md-6">
                <i-text-input #targetTandaSelar="iText"
                              formControlName="tandaSelar"
                              placeholder="Tanda Selar"
                              [nextTo]="targetTanggalBerangkat"
                              [previousTo]="targetNamaKapal"
                              label="Tanda Selar">
                </i-text-input>

              </div>

              <!--tanggal berangkat-->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Tanggal Berangkat</mat-label>
                  <input #targetTanggalBerangkat="matDatepickerInput" matInput autocomplete="off"
                         placeholder="Tanggal Berangkat"
                         formControlName="tanggalBerangkat"
                         appMatDatepickerNext
                         [nextTarget]="targetTanggalKembali"
                         [previousTarget]="targetTandaSelar"
                         (focus)="datepickerTanggalBerangkat.open()"
                         (click)="datepickerTanggalBerangkat.open()"
                         [matDatepicker]="datepickerTanggalBerangkat">
                  <mat-datepicker #datepickerTanggalBerangkat></mat-datepicker>
                </mat-form-field>
              </div>

              <!--tanggal kembali-->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Tanggal Kembali</mat-label>
                  <input #targetTanggalKembali="matDatepickerInput" matInput autocomplete="off"
                         placeholder="Tanggal Kembali"
                         formControlName="tanggalKembali"
                         appMatDatepickerNext
                         [nextTarget]="targetPelabuhanAsal"
                         [previousTarget]="targetTanggalBerangkat"
                         (focus)="datepickerTanggalKembali.open()"
                         (click)="datepickerTanggalKembali.open()"
                         [matDatepicker]="datepickerTanggalKembali">
                  <mat-datepicker #datepickerTanggalKembali></mat-datepicker>
                </mat-form-field>
              </div>

              <!--Pelabuhan asal-->
              <div class="col-md-6">
                <i-text-input #targetPelabuhanAsal="iText"
                              formControlName="pelabuhanAsal"
                              label="Pelabuhan Asal"
                              placeholder="Pelabuhan Asal"
                              [nextTo]="targetNamaPemilikKapal"
                              [previousTo]="targetTanggalKembali">
                </i-text-input>
              </div>

              <!--Pemilik kapal-->
              <div class="col-md-6">
                <i-text-input #targetNamaPemilikKapal="iText"
                              formControlName="namaPemilikKapal"
                              label="Nama Pemilik Kapal"
                              placeholder="Nama Pemilik Kapal"
                              [nextTo]="targetNamaNakhoda"
                              [previousTo]="targetPelabuhanAsal">
                </i-text-input>
              </div>

              <!--Nakhoda-->
              <div class="col-md-6">
                <i-text-input #targetNamaNakhoda="iText"
                              formControlName="namaKapten"
                              label="Nama Nakhoda"
                              placeholder="Nama Nakhoda"
                              [previousTo]="targetNamaPemilikKapal"
                              [nextTo]="targetJumlahAbk">
                </i-text-input>
              </div>

              <!--Jumlah ABK-->
              <div class="col-md-6">
                <i-text-input #targetJumlahAbk="iText"
                              formControlName="jumlahAbk"
                              label="Jumlah ABK (orang)"
                              placeholder="Jumlah ABK"
                              [useTextMask]="standardInputMask('', ' Orang')"
                              [previousTo]="targetNamaNakhoda"
                              [nextTo]="targetPanjangKapal">
                </i-text-input>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Rincian Kapal-->
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Rincian Kapal</mat-card-title>
            <mat-card-subtitle>Rincian detail informasi kapal</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <!-- Panjang Kapal -->
              <div class="col-md-6">
                <i-text-input #targetPanjangKapal="iText"
                              formControlName="panjangKapal"
                              label="Panjang Kapal (m)"
                              placeholder="Panjang Kapal"
                              [useTextMask]="standardInputMask('', ' m')"
                              [previousTo]="targetJumlahAbk"
                              [nextTo]="targetBobotKapal">
                </i-text-input>
              </div>

              <!--Bobot Kapal-->
              <div class="col-md-6">
                <i-text-input #targetBobotKapal="iText"
                              formControlName="bobotKapal"
                              label="Bobot Kapal (GT)"
                              placeholder="Bobot Kapal"
                              [useTextMask]="standardInputMask('', ' GT')"
                              [previousTo]="targetPanjangKapal"
                              [nextTo]="targetMesinUtama">
                </i-text-input>
              </div>

              <!--Mesin Utama-->
              <div class="col-md-6">
                <i-text-input #targetMesinUtama="iText"
                              formControlName="mesinUtama"
                              label="Mesin Utama (PK)"
                              placeholder="Mesin Utama"
                              [useTextMask]="standardInputMask('', ' PK')"
                              [previousTo]="targetBobotKapal"
                              [nextTo]="targetMesinBantu">
                </i-text-input>
              </div>

              <!--Mesin Bantu-->
              <div class="col-md-6">
                <i-text-input #targetMesinBantu="iText"
                              formControlName="mesinBantu"
                              label="Mesin Bantu (PK)"
                              placeholder="Mesin Bantu"
                              [useTextMask]="standardInputMask('', ' PK')"
                              [previousTo]="targetMesinUtama"
                              [nextTo]="targetMaterialKapal">
                </i-text-input>
              </div>

              <!--Material Kapal-->
              <div class="col-md-6">
                <i-text-input #targetMaterialKapal="iText"
                              formControlName="materialKapal"
                              label="Material Kapal"
                              placeholder="Material Kapal"
                              [previousTo]="targetMesinBantu"
                              [nextTo]="targetDayaCahaya">
                </i-text-input>
              </div>

              <!--Daya Cahaya-->
              <div class="col-md-6">
                <i-text-input #targetDayaCahaya="iText"
                              formControlName="dayaCahaya"
                              label="Daya Cahaya (watt)"
                              placeholder="Daya Cahaya"
                              [useTextMask]="standardInputMask('', ' Watt')"
                              [previousTo]="targetMaterialKapal"
                              [nextTo]="targetJumlahPalka">
                </i-text-input>
              </div>

              <!--Jumlah Palka-->
              <div class="col-md-6">
                <i-text-input #targetJumlahPalka="iText"
                              formControlName="jumlahPalka"
                              label="Jumlah Palka (buah)"
                              placeholder="Jumlah Palka"
                              [useTextMask]="standardInputMask('', ' Buah')"
                              [previousTo]="targetDayaCahaya"
                              [nextTo]="targetJumlahBoks">
                </i-text-input>
              </div>

              <!--Jumlah Boks-->
              <div class="col-md-6">
                <i-text-input #targetJumlahBoks="iText"
                              formControlName="jumlahBoks"
                              label="Jumlah Boks (buah)"
                              placeholder="Jumlah Boks"
                              [useTextMask]="standardInputMask('', ' Buah')"
                              [previousTo]="targetJumlahPalka"
                              [nextTo]="targetKapasitasPalkaBoksKeranjang">
                </i-text-input>
              </div>

              <!--Kapasitas Palka-->
              <div class="col-md-6">
                <i-text-input #targetKapasitasPalkaBoksKeranjang="iText"
                              formControlName="kapasitasPalkaBoks"
                              label="Kapasitas Palka/Boks/Keranjang (kg)"
                              placeholder="Kapasitas Palka/Boks/Keranjang "
                              [useTextMask]="standardInputMask('', ' Kg')"
                              [previousTo]="targetJumlahBoks"
                              [nextTo]="targetKapalBantu">
                </i-text-input>
              </div>

              <!--Kapal Bantu-->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-5 slide-toggle-section">
                  <i-toggle #targetKapalBantu formControlName="kapalBantu"
                            [nextTo]="targetUkuranKapalBantu"
                            [previousTo]="targetKapasitasPalkaBoksKeranjang"
                            label="Kapal Bantu"></i-toggle>
                </div>
                <div class="col-md-7 input-inside">
                  <i-text-input label="Ukuran Kapal Bantu (GT)"
                                placeholder="Ukuran Kapal Bantu"
                                #targetUkuranKapalBantu="iText"
                                formControlName="ukuranKapalBantu"
                                [useTextMask]="standardInputMask('', ' GT')"
                                [previousTo]="targetKapalBantu"
                                [nextTo]="targetFreezer">
                  </i-text-input>
                </div>
              </div>

              <!--Freezer-->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-5 slide-toggle-section">
                  <i-toggle #targetFreezer formControlName="freezer"
                            [nextTo]="targetKapasitasFreezer"
                            [previousTo]="targetUkuranKapalBantu"
                            label="Freezer"></i-toggle>
                </div>
                <div class="col-md-7 input-inside">
                  <i-text-input label="Kapasitas Freezer (kg)"
                                placeholder="Kapasitas Freezer "
                                #targetKapasitasFreezer="iText"
                                formControlName="kapasitasFreezer"
                                [useTextMask]="standardInputMask('', ' Kg')"
                                [previousTo]="targetFreezer"
                                [nextTo]="targetGps">
                  </i-text-input>
                </div>
              </div>

              <!--GPS-->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-5 slide-toggle-section">
                  <i-toggle #targetGps formControlName="gps"
                            [nextTo]="targetJenisGps"
                            [previousTo]="targetKapasitasFreezer"
                            label="GPS"></i-toggle>
                </div>
                <div class="col-md-7 input-inside">
                  <i-text-input label="Jenis GPS"
                                placeholder="Jenis GPS"
                                #targetJenisGps="iText"
                                formControlName="jenisGps"
                                [previousTo]="targetGps"
                                [nextTo]="targetKapalAndon">
                  </i-text-input>
                </div>
              </div>

              <!--Kapal ANdon-->
              <div class="col-md-6 row cause-slide-toggle-section">
                <div class="col-md-5 slide-toggle-section">
                  <i-toggle #targetKapalAndon formControlName="kapalAndon"
                            [nextTo]="targetAsalKapalAndon"
                            [previousTo]="targetJenisGps"
                            label="Kapal Andon"></i-toggle>
                </div>
                <div class="col-md-7 input-inside">
                  <i-text-input label="Asal Kapal Andon"
                                placeholder="Asal Kapal Andon"
                                #targetAsalKapalAndon="iText"
                                formControlName="asalKapalAndon"
                                [previousTo]="targetKapalAndon"
                                [nextTo]="targetAlatTangkap">
                  </i-text-input>
                </div>
              </div>


            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Rincian Alat Tangkap-->
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Rincian Alat Tangkap</mat-card-title>
            <mat-card-subtitle>Rincian pilihan alat tangkap spesifik untuk kapal ini</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">

              <!--ALat tangkap-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetAlatTangkap="iAutocomplete"
                  appearance="outline"
                  placeholder="Alat Tangkap"
                  formGroupName="uuidAlatTangkap"
                  displayProp="namaAlatTangkap"
                  mode="initially"
                  filterOnProp="namaAlatTangkap"
                  [previousTo]="targetAsalKapalAndon"
                  [nextTo]="targetMaterial"
                  [targetOptions]="organisasiService.getAlatTangkap">
                </i-autocomplete>
              </div>


              <!--Material Bahan-->
              <div class="col-md-6">
                <i-text-input label="Material/Bahan"
                              placeholder="Material/Bahan"
                              #targetMaterial="iText"
                              formControlName="material"
                              [previousTo]="targetAlatTangkap"
                              [nextTo]="targetJumlahAlatDioperasikan">
                </i-text-input>
              </div>

              <!--spesifikasi-->
              <div class="col-md-12">
              </div>


              <!--Jumlah alat dioperasikan-->
              <div class="col-md-6">
                <i-text-input label="Jumlah Alat Dioperasikan (piece/unit)"
                              placeholder="Jumlah Alat Dioperasikan"
                              #targetJumlahAlatDioperasikan="iText"
                              formControlName="jumlahAlatTangkapYangDioperasikan"
                              [useTextMask]="standardInputMask('', ' Piece/Unit')"
                              [previousTo]="targetMaterial"
                              [nextTo]="targetGridDaerahPenangkapan">
                </i-text-input>
              </div>

              <!--Daerah Penangkapan-->
              <div class="col-md-6">
                <i-text-input label="Grid D. Penangkapan"
                              placeholder="Grid D. Penangkapan"
                              #targetGridDaerahPenangkapan="iText"
                              formControlName="daerahPenangkapan"
                              [previousTo]="targetJumlahAlatDioperasikan"
                              [nextTo]="targetJumlahSetting">
                </i-text-input>
              </div>

              <!--Jumlah Setting-->
              <div class="col-md-6">
                <i-text-input label="Jumlah Setting (kali)"
                              placeholder="Jumlah Setting"
                              #targetJumlahSetting="iText"
                              formControlName="jumlahSetting"
                              [useTextMask]="standardInputMask('', ' Kali')"
                              [previousTo]="targetGridDaerahPenangkapan"
                              [nextTo]="targetLamaPerendaman">
                </i-text-input>
              </div>


              <!--Lama Perendaman-->
              <div class="col-md-6">
                <i-text-input label="Lama Perendaman (jam/setting)"
                              placeholder="Lama Perendaman "
                              #targetLamaPerendaman="iText"
                              formControlName="lamaPerendaman"
                              [useTextMask]="standardInputMask('', ' Jam/Setting')"
                              [previousTo]="targetJumlahSetting"
                              [nextTo]="targetJumlahBalokEs">
                </i-text-input>
              </div>

              <!--Jumlah Balok Es-->
              <div class="col-md-6">
                <i-text-input label="Jumlah Balok Es (kg)"
                              placeholder="Jumlah Balok Es"
                              #targetJumlahBalokEs="iText"
                              formControlName="jumlahBalokEs"
                              [useTextMask]="standardInputMask('', ' Kg')"
                              [previousTo]="targetLamaPerendaman"
                              [nextTo]="targetJenisRumpon">
                </i-text-input>
              </div>

              <!--Jenis Rumpon-->
              <div class="col-md-6">
                <i-autocomplete
                  #targetJenisRumpon="iAutocomplete"
                  appearance="outline"
                  placeholder="Jenis Rumpon"
                  formControlName="jenisRumpon"
                  mode="initially"
                  required="true"
                  errorMessage="Jenis Rumpon tidak boleh kosong"
                  [nextTo]="targetJumlahRumponDikunjungi"
                  [previousTo]="targetJumlahBalokEs"
                  [targetOptions]="rumpon">
                </i-autocomplete>
              </div>


              <!--Jumlah Rumpon-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Jumlah Rumpon</legend>
                  <div class="row">
                    <!--rumpon dikunjungi-->
                    <div class="col-md-6">
                      <i-text-input label="Dikunjungi"
                                    placeholder="Dikunjungi"
                                    #targetJumlahRumponDikunjungi="iText"
                                    formControlName="jumlahRumponDikunjungi"
                                    [useTextMask]="standardInputMask()"
                                    [previousTo]="targetJenisRumpon"
                                    [nextTo]="targetJumlahRumponBerhasil">
                      </i-text-input>
                    </div>

                    <!--rumpon berhasil-->
                    <div class="col-md-6">
                      <i-text-input label="Berhasil"
                                    placeholder="Berhasil"
                                    #targetJumlahRumponBerhasil="iText"
                                    formControlName="jumlahRumponBerhasil"
                                    [useTextMask]="standardInputMask()"
                                    [previousTo]="targetJumlahRumponDikunjungi"
                                    [nextTo]="targetKedalamanAirMulai">
                      </i-text-input>
                    </div>
                  </div>
                </fieldset>
              </div>


              <!--Kedalaman Perairan (m)-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Kedalaman Perairan (m)</legend>
                  <div class="row">
                    <!--kedalaman perairan mulai-->
                    <div class="col-md-6">
                      <i-text-input label="Mulai (m)"
                                    placeholder="Mulai"
                                    #targetKedalamanAirMulai="iText"
                                    formControlName="kedalamanAirMulai"
                                    [useTextMask]="standardInputMask('', ' m')"
                                    [previousTo]="targetJumlahRumponBerhasil"
                                    [nextTo]="targetKedalamanAirHingga">
                      </i-text-input>
                    </div>

                    <!--Keldalaman perairan hingga-->
                    <div class="col-md-6">
                      <i-text-input label="Hingga (m)"
                                    placeholder="Hingga"
                                    #targetKedalamanAirHingga="iText"
                                    formControlName="kedalamanAirHingga"
                                    [useTextMask]="standardInputMask('', ' m')"
                                    [previousTo]="targetKedalamanAirMulai"
                                    [nextTo]="targetJumlahHariPerTrip">
                      </i-text-input>
                    </div>
                  </div>
                </fieldset>
              </div>


              <!--Jumlah Hari di Laut-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Jumlah Hari di Laut</legend>
                  <div class="row">
                    <!--Jumlah Hari per trip-->
                    <div class="col-md-6">
                      <i-text-input label="Jumlah Hari Per Trip (hari)"
                                    placeholder="Jumlah Hari Per Trip "
                                    #targetJumlahHariPerTrip="iText"
                                    formControlName="jumlahHariPerTrip"
                                    [useTextMask]="standardInputMask('', ' Hari')"
                                    [previousTo]="targetKedalamanAirHingga"
                                    [nextTo]="targetJumlahHariMenangkap">
                      </i-text-input>
                    </div>

                    <!--Jumlah Hari menangkap-->
                    <div class="col-md-6">
                      <i-text-input label="Jumlah Hari Menangkap (hari)"
                                    placeholder="Jumlah Hari Menangkap"
                                    #targetJumlahHariMenangkap="iText"
                                    formControlName="jumlahHariMenangkap"
                                    [useTextMask]="standardInputMask('', ' Hari')"
                                    [previousTo]="targetJumlahHariPerTrip"
                                    [nextTo]="targetWaktuSetting">
                      </i-text-input>
                    </div>
                  </div>
                </fieldset>
              </div>


              <div class="col-md-12">
                <i-autocomplete
                  #targetWaktuSetting="iAutocomplete"
                  appearance="outline"
                  placeholder="Waktu Tawur/Setting"
                  formControlName="waktuMemancing"
                  mode="initially"
                  required="true"
                  errorMessage="Waktu Setting tidak boleh kosong"
                  [previousTo]="targetJumlahHariMenangkap"
                  [nextTo]="targetKomentar"
                  [targetOptions]="waktuSetting">
                </i-autocomplete>
              </div>


              <!--Komentar -->
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Komentar</mat-label>
                  <textarea #targetKomentar matInput style="height: 86px" placeholder="Komentar"
                            formControlName="komentar"></textarea>
                </mat-form-field>
              </div>


            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Hasil Tangkapan-->
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Hasil Tangkapan</mat-card-title>
            <mat-card-subtitle>Informasi umum hasil tangkapan</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <div class="row">

              <!--Sumber Informasi-->
              <div class="col-md-12">
                <i-autocomplete
                  #targetSumberInformasi="iAutocomplete"
                  appearance="outline"
                  placeholder="Sumber Informasi"
                  formControlName="sumberInformasi"
                  mode="initially"
                  required="true"
                  errorMessage="Sumber Informasi harus diisi"
                  [targetOptions]="sumberInformasi">
                </i-autocomplete>
              </div>

              <!--Jumlah Tangkapan untuk Dimakan di Laut-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Jumlah Tangkapan untuk Dimakan di Laut</legend>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Volume (kg)</mat-label>
                        <input #targetJumlahTangkapanUntukDimakanDilautVolume autocomplete="off"
                               formControlName="jumlahTangkapanUntukDimakanDilautVolume"
                               appMatInputNext
                               matInput placeholder="Volume">
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Individu (ekor)</mat-label>
                        <input #targetJumlahTangkapanUntukDimakanDilautIndividu autocomplete="off"
                               formControlName="jumlahTangkapanUntukDimakanDilautIndividu"
                               appMatInputNext
                               matInput placeholder="Individu">
                      </mat-form-field>
                    </div>
                  </div>
                </fieldset>


                <!--                <mat-card-subtitle><strong>Jumlah Tangkapan untuk Dimakan di Laut</strong></mat-card-subtitle>-->
                <!--                <mat-card-title>Rincian Hasil Tangkapan</mat-card-title>-->
                <!--                <h5>Jumlah Tangkapan untuk Dimakan di Laut</h5>-->
              </div>

              <!--Total Hasil Tangkapan-->
              <div class="col-md-12 grouping-some-input">
                <fieldset>
                  <legend>Total Hasil Tangkapan</legend>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Volume (kg)</mat-label>
                        <input #targetJumlahTangkapanVolume autocomplete="off"
                               formControlName="jumlahTangkapanVolume"
                               appMatInputNext
                               matInput placeholder="Volume">
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Individu (ekor)</mat-label>
                        <input #targetJumlahTangkapanIndividu autocomplete="off"
                               formControlName="jumlahTangkapanIndividu"
                               appMatInputNext
                               matInput placeholder="Individu">
                      </mat-form-field>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--Rincian Ikan Hasil Tangkapan-->
      <div class="col-md-12 card-rincian-ikan-hasil-tangkapan">
        <mat-card>
          <mat-card-header fxLayout="row">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <label *ngIf="listOfIkanHasilTangkapan('dataOperasionalDetailTangkapan').length > 0; else emptyRincianIkanHasilTangkapan">
                <span class="primary">{{listOfIkanHasilTangkapan('dataOperasionalDetailTangkapan').length}}</span>
                Data Ikan Hasil Tangkapan&nbsp;&nbsp;
              </label>
              <ng-template #emptyRincianIkanHasilTangkapan>
                <label class="warn">Belum Ada Rincian Ikan Hasil Tangkapan</label>
              </ng-template>
            </mat-card-title>
            <mat-card-subtitle>Informasi jenis ikan hasil tangkapan</mat-card-subtitle>

            <div fxFlex></div>
            <div class="button-add-rincian" fxLayoutAlign="center center">
              <button (click)="addIkanHasilTangkapan('dataOperasionalDetailTangkapan')" #tombolTambahIkanHasilTangkapan
                      matTooltip="Tambahkan Ikan Hasil Tangkapan"
                      matTooltipPosition="before"
                      mat-fab color="primary">
                <mat-icon class="icon-inside-button">add</mat-icon>
              </button>
            </div>
          </mat-card-header>
          <mat-card-content>

            <div class="row">

              <div class="col-md-12">
                <div *ngIf="listOfIkanHasilTangkapan('dataOperasionalDetailTangkapan').length === 0" style="padding:25px 0;">
                  <app-no-content message="Tidak Ada Data Ikan Hasil Tangkapan" bgColor="#fafafa"></app-no-content>
                </div>


                <!-- konten utama-->
                <mat-list>
                  <div class="list-rincian-ikan-hasil-tangkapan-container">
                    <mat-divider *ngIf="listOfIkanHasilTangkapan('dataOperasionalDetailTangkapan').length > 0"></mat-divider>
                    <div
                      *ngFor="let tempFormIkanHasilTangkapan of listOfIkanHasilTangkapan('dataOperasionalDetailTangkapan'); index as rincianIkanHasilTangkapanIndex">
                      <mat-list-item>
                        <div mat-list-icon>
                          <button mat-mini-fab [ngClass]="'empty'">{{rincianIkanHasilTangkapanIndex + 1 }}</button>
                        </div>
                        <h4 class="my-color-hard"
                            mat-line>{{extractFormControlValue('uuidSpesies', tempFormIkanHasilTangkapan, '....')}}</h4>
                        <p class="my-color" mat-line>Ikan Hasil Tangkapan</p>
                        <div class="box-options" mat-line>
                          <button (click)="removeIkanHasilTangkapan('dataOperasionalDetailTangkapan', rincianIkanHasilTangkapanIndex)"
                                  mat-icon-button>
                            <mat-icon class="my-color" matTooltip="Hapus" matTooltipPosition="before">delete</mat-icon>
                          </button>
                        </div>
                        <mat-divider></mat-divider>

                      </mat-list-item>
                    </div>
                  </div>
                </mat-list>
              </div>




            </div>


          </mat-card-content>
        </mat-card>
      </div>


    </div>
    <ng-template #loading>
      <app-initializing message="Menginisialisasi Operasional"></app-initializing>
    </ng-template>
  </div>
</div>
