<div class="row" id="form-pendaratan" [formGroup]="formPendaratan">




  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Informasi Umum</mat-card-title>
        <mat-card-subtitle>Informasi utama yang diperlukan untuk Form Pendaratan</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <!--Organisasi-->
          <div class="col-md-6">
            <i-autocomplete
              #targetOrganisasi="iAutocomplete"
              appearance="outline"
              placeholder="Organisasi"
              formGroupName="organisasi"
              displayProp="namaOrganisasi"
              mode="initially"
              filterOnProp="namaOrganisasi"
              [nextTo]="targetPencatat"
              [targetOptions]="organisasiService.getAll">
            </i-autocomplete>
          </div>

          <!--Pencatat-->
          <div class="col-md-6">
            <i-autocomplete
              #targetPencatat="iAutocomplete"
              appearance="outline"
              placeholder="Pencatat"
              formGroupName="uuidEnumerator"
              displayProp="nama"
              mode="initially"
              filterOnProp="nama"
              [previousTo]="targetOrganisasi"
              [nextTo]="targetSumberdaya"
              [targetOptions]="pencatatSource">
            </i-autocomplete>
          </div>

          <!--Sumberdaya-->
          <div class="col-md-6">
            <i-autocomplete
              #targetSumberdaya="iAutocomplete"
              appearance="outline"
              placeholder="Sumberdaya"
              formGroupName="uuidSumberDaya"
              displayProp="namaSumberdaya"
              mode="initially"
              filterOnProp="namaSumberdaya"
              required="true"
              errorMessage="Sumberdaya tidak boleh kosong"
              [previousTo]="targetPencatat"
              [nextTo]="targetWpp"
              [targetOptions]="sumberdayaService.getAll">
            </i-autocomplete>
          </div>

          <!--WPP-->
          <div class="col-md-6">
            <i-autocomplete
              #targetWpp="iAutocomplete"
              appearance="outline"
              placeholder="WPP"
              formControlName="wpp"
              mode="initially"
              required="true"
              errorMessage="WPP tidak boleh kosong"
              [previousTo]="targetSumberdaya"
              [nextTo]="targetLokasiPendaratan"
              [targetOptions]="wpp">
            </i-autocomplete>
          </div>

          <!-- Lokasi pendaratan -->
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Lokasi Pendaratan</mat-label>
              <input #targetLokasiPendaratan autocomplete="off"
                     formControlName="namaLokasiPendaratan"
                     appMatInputNext
                     [nextTarget]="targetTanggalPendaratan"
                     [previousTarget]="targetWpp"
                     matInput placeholder="Lokasi Pendaratan">
            </mat-form-field>
          </div>

          <!--Tanggal Pendaratan-->
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Tanggal Pendaratan</mat-label>
              <input #targetTanggalPendaratan="matDatepickerInput" matInput autocomplete="off"
                     placeholder="Tanggal Pendaratan"
                     formControlName="tanggalPendaratan"
                     appMatDatepickerNext
                     [nextTarget]="tombolTambahPendaratan"
                     [previousTarget]="targetLokasiPendaratan"
                     (focus)="datepickerTanggalPendaratan.open()"
                     (click)="datepickerTanggalPendaratan.open()"
                     [matDatepicker]="datepickerTanggalPendaratan">
              <mat-datepicker #datepickerTanggalPendaratan></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="col-md-12 rincian-pendaratan-container">

  </div>


  <div class="col-md-12 card-rincian-pendaratan">
    <mat-card>
      <mat-card-header fxLayout="row">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <label *ngIf="listOfRincianPendaratan('dataRincianPendaratan').length > 0; else emptyRincianPendaratan">
            Daftar Rincian Pendaratan&nbsp;&nbsp;<span
            class="primary">({{listOfRincianPendaratan('dataRincianPendaratan').length}})</span>
          </label>
          <ng-template #emptyRincianPendaratan>
            <label class="warn">Belum Ada Rincian Pendaratan</label>
          </ng-template>
        </mat-card-title>
        <mat-card-subtitle>Informasi utama yang diperlukan untuk Form Pendaratan</mat-card-subtitle>

        <div fxFlex></div>
        <div class="button-add-rincian" fxLayoutAlign="center center">
          <button (click)="addRincianPendaratan('dataRincianPendaratan')" #tombolTambahPendaratan
                  matTooltip="Tambahkan Rincian Pendaratan"
                  matTooltipPosition="before"
                  mat-fab color="primary">
            <mat-icon class="icon-inside-button">add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col-md-12">

            <div *ngIf="listOfRincianPendaratan('dataRincianPendaratan').length === 0" style="padding:25px 0;">
              <app-no-content message="Tidak Ada Rincian Pendaratan" bgColor="#fafafa"></app-no-content>
            </div>


            <mat-selection-list>
              <div class="list-rincian-pendaratan-container">
                <mat-divider *ngIf="listOfRincianPendaratan('dataRincianPendaratan').length > 0"></mat-divider>
                <div
                  *ngFor="let tempFormRincianPendaratan of listOfRincianPendaratan('dataRincianPendaratan'); index as rincianPendaratanIndex">
                  <mat-list-option (click)="rincianPendaratan(tempFormRincianPendaratan)">

                    <!-- THE MENU -->
                    <mat-menu #menu="matMenu" [overlapTrigger]="false" >
                      <button (click)="openOperasional(tempFormRincianPendaratan)"
                        mat-menu-item>
                        <mat-icon>note_add</mat-icon>
                        <span>Operasional</span>
                      </button>
                      <button mat-menu-item (click)="openUkuran(tempFormRincianPendaratan)">
                        <mat-icon>hdr_weak</mat-icon>
                        <span>Biologi Ukuran</span>
                      </button>
                      <mat-divider></mat-divider>
                      <button mat-menu-item (click)="openReproduksi(tempFormRincianPendaratan)">
                        <mat-icon>receipt</mat-icon>
                        <span>Biologi Reproduksi</span>
                      </button>
                    </mat-menu>


                    <div mat-list-icon>
                      <button mat-mini-fab>{{rincianPendaratanIndex + 1 }}</button>
                    </div>
                    <h4 class="my-color-hard"
                        mat-line>{{extractFormControlValue('namaKapal', tempFormRincianPendaratan, '....')}}</h4>
                    <p class="my-color" mat-line> Informasi Rincian Pendaratan</p>
                    <div class="box-options" mat-line>
<!--                      <button #targetButtonOpenRincianPendaratan-->
<!--                              (click)="openRincianPendaratan(tempFormRincianPendaratan, targetButtonOpenRincianPendaratan)"-->
<!--                              mat-icon-button>-->
<!--                        <mat-icon class="my-color" matTooltip="Buka Rincian" matTooltipPosition="before">open_in_new-->
<!--                        </mat-icon>-->
<!--                      </button>-->
<!--                      <button (click)="addReproduksi(tempFormRincianPendaratan)" mat-icon-button>-->
<!--                        <mat-icon color="warn" matTooltip="Hapus" matTooltipPosition="before">delete</mat-icon>-->
<!--                      </button>-->
<!--                      <button (click)="openReproduksi(tempFormRincianPendaratan)"-->
<!--                              mat-icon-button>-->
<!--                        <mat-icon matTooltip="Hapus" matTooltipPosition="before">info</mat-icon>-->
<!--                      </button>-->
                      <button (click)="removeRincianPendaratan('dataRincianPendaratan', rincianPendaratanIndex)"
                              mat-icon-button>
                        <mat-icon class="my-color" matTooltip="Hapus" matTooltipPosition="before">delete</mat-icon>
                      </button>
                      <button #mTrigger="matMenuTrigger" mat-icon-button
                              (click)="clickMenu(mTrigger)"
                              matTooltip="Aksi"
                              matTooltipPosition="below" [matMenuTriggerFor]="menu">
                        <mat-icon class="my-color">more_vert</mat-icon>
                      </button>
                    </div>
                  </mat-list-option>
                  <mat-divider></mat-divider>
                </div>
              </div>
            </mat-selection-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>

