<div class="row form-content-wrapper" style="padding-top: 25%">
  <div class="col-md-12">
    <svg  style="margin: auto; background: none; display: block; shape-rendering: auto;" width="71px" height="71px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="84" cy="50" r="0.0476227" fill="#2962ff">
        <animate attributeName="r" repeatCount="indefinite" dur="0.43103448275862066s" calcMode="spline" keyTimes="0;1" values="10;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
        <animate attributeName="fill" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#2962ff;#ff5722;#f9a825;#f47e60;#2962ff" begin="0s"></animate>
      </circle><circle cx="16" cy="50" r="0" fill="#2962ff">
      <animate attributeName="r" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
      <animate attributeName="cx" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
    </circle><circle cx="16" cy="50" r="9.95236" fill="#f47e60">
      <animate attributeName="r" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.43103448275862066s"></animate>
      <animate attributeName="cx" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.43103448275862066s"></animate>
    </circle><circle cx="49.838" cy="50" r="10" fill="#f9a825">
      <animate attributeName="r" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8620689655172413s"></animate>
      <animate attributeName="cx" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.8620689655172413s"></animate>
    </circle><circle cx="83.838" cy="50" r="10" fill="#ff5722">
      <animate attributeName="r" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.2931034482758619s"></animate>
      <animate attributeName="cx" repeatCount="indefinite" dur="1.7241379310344827s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.2931034482758619s"></animate>
    </circle>
      <!-- [ldio] generated by https://loading.io/ --></svg>
  </div>
  <div class="col-md-12 " style="justify-content: center; display: flex;">
    <h5 style="margin: auto; background: none; display: block; shape-rendering: auto;">{{message}}...</h5>
  </div>
</div>
