@import "../../../../the-theme";





.highlightText {
  background: yellow;
}

//.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
//  background: mat-color(mat-palette($color-primary, 100));
//}

.option-hint {
  position: relative !important;
  margin-top: -30px !important;
  font-size: 11px !important;
}

.mat-option.hint {
  height: auto !important;
}

.mat-option.mat-active {
  background: mat-color(mat-palette($color-primary, 100));
}

.mat-option.mat-selected {
  background: mat-color(mat-palette($color-accent, 200)) !important;
}






#i-auto {
  ::ng-deep .mat-form-field-suffix {
    top: 7.5px;
  }

  .space-between-suffix {
    padding-left: 7px;

    .mat-icon-button {
      bottom: -1px;
    }

    .mat-chip {
      cursor: pointer;
    }

  }




}
