<div id="i-auto">
  <mat-form-field [appearance]="appearance">
    <mat-label>{{label ? label : placeholder}}</mat-label>
    <input type="text" #autoInput matInput
           id="{{autoId}}"
           appMatAutocompleteNext [required]="required"
           [formControl]="getDisplayControl()" [errorStateMatcher]="matcher"
           (whenBlur)="blur($event)"
           (whenKeyUp)="whenTyping($event)"
           (whenKeyPress)="whenKeyPress($event)"
           (whenKeyDown)="whenKeyDown($event)"
           [nextTarget]="nextTo"
           [previousTarget]="previousTo"
           [attr.aria-label]="ariaLabel"
           [placeholder]="placeholder"
           [matAutocomplete]="auto">
    <mat-hint *ngIf="useHint">
      {{hintMessage}}
    </mat-hint>
    <mat-error>
      {{errorMessage}}
    </mat-error>
    <table matSuffix>
      <tr>
        <td *ngIf="failOnFetch && !init" class="space-between-suffix">
          <mat-chip-list>
            <mat-chip (click)="retry()" color="warn" selected>
              <mat-icon>refresh</mat-icon>
              &nbsp;Coba Lagi&nbsp;
            </mat-chip>
          </mat-chip-list>
        </td>
        <td *ngIf="calculatingIndicator()" class="space-between-suffix">
          <svg [ngStyle]="(!disabled && clearButton && hasValue() && !isNativeInputEmpty()) ? loadingStyleWhenCloseButtonExists : loadingStyleWhenCloseButtonNotExists"
               width="41px" height="35px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="84" cy="50" r="0.0427408" fill="#2962ff">
              <animate attributeName="r" repeatCount="indefinite" dur="0.3846153846153846s" calcMode="spline" keyTimes="0;1" values="10;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
              <animate attributeName="fill" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#2962ff;#ff5722;#f9a825;#f47e60;#2962ff" begin="0s"></animate>
            </circle><circle cx="49.8546" cy="50" r="10" fill="#2962ff">
            <animate attributeName="r" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
            <animate attributeName="cx" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
          </circle><circle cx="83.8546" cy="50" r="10" fill="#f47e60">
            <animate attributeName="r" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3846153846153846s"></animate>
            <animate attributeName="cx" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.3846153846153846s"></animate>
          </circle><circle cx="16" cy="50" r="0" fill="#f9a825">
            <animate attributeName="r" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.7692307692307692s"></animate>
            <animate attributeName="cx" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.7692307692307692s"></animate>
          </circle><circle cx="16" cy="50" r="9.95724" fill="#ff5722">
            <animate attributeName="r" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.1538461538461537s"></animate>
            <animate attributeName="cx" repeatCount="indefinite" dur="1.5384615384615383s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.1538461538461537s"></animate>
          </circle>
            <!-- [ldio] generated by https://loading.io/ --></svg>

<!--          <mat-progress-spinner mode="indeterminate" diameter="29">-->
<!--          </mat-progress-spinner>-->
        </td>
        <td *ngIf="!disabled && clearButton && hasValue() && !isNativeInputEmpty()" class="space-between-suffix">
          <button mat-icon-button (click)="clear()">
            <mat-icon matTooltip="Bersihkan" color="warn">close</mat-icon>
          </button>
        </td>
      </tr>
    </table>

    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="transformDisplay"
                      (opened)="opened()"
                      (optionSelected)="onSelected($event)">
      <mat-option [ngClass]="optionHints ? 'hint' : ''" *ngFor="let option of tempOptions | async" [value]="option" [disabled]="typing">
        <div [innerHTML]="extractingValue(option, displayProp) | filterHighlight : getDisplayControl().value"></div>
<!--        {{extractingValue(option, displayProp)}}-->
        <div *ngIf="optionHints" class="option-hint">

          <i *ngIf="optionHintsAsItalic; else notItalic" [innerHTML]="extractingValue(option, optionHints) | filterHighlight : getDisplayControl().value : 'accent'"></i>
          <ng-template #notItalic>
            <div [innerHTML]="extractingValue(option, optionHints) | filterHighlight : getDisplayControl().value : 'accent'"></div>
          </ng-template>
        </div>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</div>
