
@import '../node_modules/@angular/material/theming';
@include mat-core();

$the-bg-color: #f2f2f2;
//$the-sidenav-bg-color: #ededed;
$the-sidenav-bg-color: white;
$the-sidenav-border-color: #e3e3e3;
$mat-card-container-border-color: #e1e1e1;

$mat-header-bg-color: #fafafa;
$mat-input-bg-color: #fbfbfb;

$the-on-search-bg-color: #dfdfdf;
$the-on-search-box-border-color: #cdcdcd;
$the-hover-component: #d7d7d7;
$default-padding: 24px;

$the-font-size-1: 14px;
$the-font-size-1-point-5: 17px;
$the-font-size-2: 19px;
$the-font-size-3: 23px;
$the-font-size-section-title: 16px;

$the-font-color: #656565;
$the-font-color-hard: #474747;
$the-font-color-soft: #797979;
$section-title-color: #303030;

/* deklarai warna tema yang diinginkan */
$color-primary: $mat-blue;
//$color-accent: $mat-pink;
$color-accent: $mat-yellow;
$color-warn: $mat-deep-orange;

$the-primary: mat-palette($color-primary, A700);
//$the-accent: mat-palette($color-accent, A200);
$the-accent: mat-palette($color-accent, 800);
//$the-accent: mat-palette($color-accent, 900);
$the-warn: mat-palette($color-warn);


.primary { color: mat-color($the-primary) !important; }
.accent { color: mat-color($the-accent) !important; }
.warn { color: mat-color($the-warn) !important;  }

.my-color-hard { color: $the-font-color-hard; }
.my-color-soft { color: $the-font-color-soft; }
.my-color { color: $the-font-color; }

.my-bg-color { background: $the-bg-color !important;}
.my-on-search-bg-color { background: $the-on-search-bg-color !important;}


.conditional-accent { color: mat-color(mat-palette($color-accent, 500)) !important; }

::ng-deep .mat-form-field-outline {
  background: $mat-input-bg-color;
}


::ng-deep .mat-form-field-outline, .mat-form-field-outline-thick {
  background: $mat-input-bg-color;
}



::ng-deep .mat-option {
  font-size: $the-font-size-1 !important;
}

.dashboard-toolbar {
  box-shadow: black 0 0 0 0, black 0 0 0 0, #afafaf 0 2px 3px 0px, black 0 0 0 0;
  z-index: 2;
}



.dialog-toolbar {
  margin-top: -($default-padding + 30) !important;
  position: fixed;
  z-index: 7;
  box-shadow: black 0 0 0 0, black 0 0 0 0, #afafaf 0 2px 3px 0px, black 0 0 0 0;
}




@media screen and (max-width: 767px) {

  .cdk-overlay-pane {
    padding-top: ($default-padding + 30) !important;
  }

  //.cdk-overlay-pane {
  //  padding-top: ($default-padding + 41) !important;
  //}
  //
  //.dialog-toolbar {
  //  margin-top: -($default-padding) !important;
  //  position: fixed;
  //  z-index: 7;
  //  box-shadow: black 0 0 0 0, black 0 0 0 0, #afafaf 0 2px 3px 0px, black 0 0 0 0;
  //}

  .mat-card {
    padding: 0 0 25px 0;
    border-radius: 0px;
    margin-bottom: 30px;
    border: 1px 0 1px 0 solid $mat-card-container-border-color;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;

    .mat-card-header {
      padding: 30px 30px 0 30px;
      background: $mat-header-bg-color;
      //border-bottom: $mat-card-container-border-color;
    }

    .mat-card-content {
      padding: 25px 25px 0 30px;
    }

  }

  .form-content-wrapper {
    //padding: ($default-padding + 30) 0 0 0;
    padding: 0 0 0 0;
    margin-left: -$default-padding;

    .mat-card {
      .mat-card-header {
        padding: 30px 30px 0 35px;
      }

      .mat-card-content {
        padding: 25px 25px 0 35px;
      }
    }
  }

  .slide-toggle-section {
    padding-bottom: 15px;
  }


}

@media screen and (min-width: 768px) {

  .cdk-overlay-pane {
    padding-top: ($default-padding + 41) !important;
  }

  .form-content-wrapper {
    //padding: 102px 42px 0 50px;
    padding: ($default-padding + 18) ($default-padding + 18) 0 ($default-padding + 26);
  }

  .input-inside {
    //width: 1;
    right: -15px;
  }

  .slide-toggle-section {
    padding-top: 17px;
  }

  .mat-card {
    padding: 0 0 25px 0;
    //border: 1px solid $mat-card-container-border-color;
    border-radius: 0px;


    margin-bottom: 30px;
    //box-shadow: rgba(0, 0, 0, 0.45) 0 0 0 0 !important;
    border: 1px solid $mat-card-container-border-color;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;

    .mat-card-header {
      padding: 30px 35px 10px 35px;
      background: $mat-header-bg-color;
      //border-bottom: 1px solid $mat-card-container-border-color;
    }

    .mat-card-content {
      padding: 35px 35px 0 35px;
    }



  }

  //.mat-card:hover {
  //  box-shadow: rgba(0, 0, 0, 0.26) 0 1px 4px 0 !important;
  //}
}



/* inisialisasi tema */
$the-light-theme: mat-light-theme($the-primary, $the-accent, $the-warn);


//$custom-typography: mat-typography-config($font-family: '"Roboto", sans-serif;');
//$custom-typography: mat-typography-config($font-family: '"Rubik", sans-serif;');
//$custom-typography: mat-typography-config($font-family: '"Open Sans", sans-serif;');
//$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
//$custom-typography: mat-typography-config($font-family: '"Roboto Condensed", sans-serif;');
//$custom-typography: mat-typography-config($font-family: '"Source Sans Pro", sans-serif;');

$general-typography: mat-typography-config(
  $font-family: '"Source Sans Pro", "Helvetica Neue", sans-serif',
  $body-1:        mat-typography-level($the-font-size-1, $the-font-size-2, 500),
  $title: mat-typography-level($the-font-size-2, $the-font-size-3, 600),
  $subheading-2: mat-typography-level($the-font-size-1-point-5, $the-font-size-2, 600)
);

@include mat-core($general-typography);

/* bootstraping tema */
@include angular-material-theme($the-light-theme);

